
  .project .card-body{
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
    align-content: flex-end;
  }
  .project .card-body div{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin: auto;
  }
  .project .card-body p{
    height: 100px;
  }
  
  .project .card-body div button:nth-of-type(1){
    margin-right: 10px;
  }
  
  
  /*custom for resume.html*/

 .bg-grey {
    background-color:grey;
  }

  .skills-card {
    height: auto;
    overflow: scroll;
  }
  .skills-card ul li div {
   text-align: center;
   /* align-content: center; */
   align-items: center;
   width: 100%;
  }
  .skills-card ul li div div{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
  }
  .skills-category{
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 2px;
  }
  .skills-header{
    text-align: center;
    /* background-color: green; */
    background-color:#888888;
    color:white;
    font-weight: bolder;
    font-size: 1.5rem;
  }
  .badge-pill{
    height: 20px;
    color:black;
    border: 1px solid black;
  }
  .skills-details{
    margin-top: 5px;
  }
  
  .personal-statement{
    padding-top:50px;
  }
  .jumbotron .container p{
    font-size: 1.5rem;
  }
  
  .company-name{
   margin:0;
   font-size: 1.5rem;
   font-weight: bolder;
   text-align: center;
  }
  .company-position{
    margin:0;
    font-size: 1.2rem;
  }
  
  .cc-experience .cc-experience-header .d-flex{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
   .cc-experience .cc-experience-header {
    /* padding-top: 60px; */
    /* padding-right: 0; */
    /* text-align: center; */
    color: #fff;
    /* background-color: green; */
    background-color: #888888;
    text-transform: uppercase;
  }
  
  .experience-duration{
    color:black;
    border:1px solid black;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }


  .buttons-on-resume{
    margin-top: 70px;
  }
  .profile-button{
    border:2px solid white;
  }
  #certifications .list-group-item {
    display: flex;
    flex-direction: column;
  }
  
  #career-summary li,
  #about p{
    text-align: center;
    line-height: 1.5rem;
    border:none;
  }

/* #portfolio{
    background-color: #2B3F5B;
    color:white;
} */
.portfolio-tab{
  width: 125px;
  margin:0 10px;
  border:1px solid black;
}
.portfolio-tab.active{
  background-color:green !important;
}

.portfolio-tab a {
  border:1px solid black;
}
 .badge-image{
      height: 100px;
      width:100px;
  }

  .bootcamp-card{
      display: flex;
      flex-direction: column;
      align-content: center;
      align-items: center;
      border:2px solid black;
      padding:10px;
      /* background-color:#AAF7C4; */
      background-color: silver;
    }
  .bootcamp-card-details{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    text-align: center;    
  }
  .bootcamp-link{
    font-weight: bold;
    color:blue;
  }
  .bootcamp-card-details-title1{
    font-size: 1.5rem;
    margin:5px 0;
  }
  
  .bootcamp-card-details-title2{
    font-size: 1.2rem;
    margin:5px 0;
  }
  .bootcamp-card-details p{
    margin:5px 0;
  }


  /* android portfolio card */

  .android-project h5{
      text-align: center;
      /* background-color: green; */
      background-color:grey;
      color:white;
      /* margin: 10px; */
      margin-bottom: 0;
      padding: 10px;
      border-bottom:2px solid white;
      font-size:1.1rem;

  }

  .web-project h5{
    text-align: center;
    background-color:grey;
    color:white;
    font-size:1.1rem;
    /* margin: 10px; */
    padding: 10px;
    margin:0;
    border-bottom:1px solid white;
}

.android-project img{
    height:300px;
    border-left: 2px solid white;
    border-right: 2px solid white;

    /* padding:10px; */
    /* margin-bottom:5px; */
    margin:0;

}
.web-project img{
  width: 100%;
  border-bottom: 1px solid white;

}
.android-project{
  background-color: #E7E7E8;
  display: flex;
  flex-direction: column;
}

.web-project{
    display: flex;
    flex-direction: column;
    /* padding:10px; */
    /* border:2px solid grey; */
    background-color: #949494;
    /* border-bottom: 1px solid white; */
}
.android-project .card-body,
.web-project .card-body{
    padding:0;
    margin:0;

}
.white-border{
  border: 1px solid white;
}
.android-project .card-body div.bg-grey{
    border-top:2px solid white;
    /* background-color: grey; */

}
.android-project .card-body div{
  /* margin-top:5px; */
  padding:10px;
  /* border-top:1px solid white; */
}

.web-project .card-body div{
  margin-top:5px;
  padding:10px;
  /* border-top:1px solid white; */
}

.android-project .card-body div button,
.web-project .card-body div button{
  width:100px;
  text-align: center;
  padding:10px 0;
}
.android-project .card-body div button a,
.web-project .card-body div button a{
  text-align: center;
  color:white;
}

.modal-dialog{
  text-align:left;

}
.modal-header {
  position: relative;  

}

.modal-content .modal-header button{
  margin:0;
  padding:0 !important;
  position: absolute;
  top:-10px;
  right:-10px;
  width:50px !important;
  height:50px;
} 
.modal-content .modal-header button:hover{
  cursor: pointer;
}
.modal-dialog h5 {
  background-color: white;
  color:black;
  font-weight: bolder;
  text-align: left;
  padding:0;
  margin:0;
}
a:hover{
  text-decoration: none;
}
.button-container a:hover{
  transform: scale(1.1);
}

  /* Tablet */
  @media (min-width:768px) {
    .skills-card {
      height: 510px;
      overflow: scroll;
    }
    .experience-duration{
      font-size: 1.2rem;
      padding: 20px;
    }
    .cc-experience .cc-experience-header .d-flex{
      flex-direction: row;
      justify-content: space-between;
      /* align-content: flex-start; */
      align-items: flex-start;
  
    }
    .company-name{
     text-align: left;
    }
    .skills-card ul li div {
     text-align: left;
     align-items: flex-start;
    }
    .skills-card ul li div div{
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      align-content: flex-start;
    }
    #certifications .list-group-item {
      display: flex;
      flex-direction: row;
    }
    #certifications .list-group-item:hover{
      font-size: 1.2rem;
      border-left:3px solid black;
    }
    #career-summary li,
    #about p{
      text-align: left;
    }
    .bootcamp-card{
        display: flex;
        flex-direction: row;
        padding:10px;
        /* width:80%; */
        /* margin:auto; */
    }
    .bootcamp-card-details{
      display: flex;
      flex-direction: column;
      align-content: flex-start;
      align-items: flex-start;
      text-align: left;
      margin-left:20px;    
    }

  }
  
  
  
  /* Desktop */
  @media (min-width:1024px) {
  
  }