

header h1 {
  color:blue;
  padding: 30px;
  margin-top: 0px;
  width: 100%;
  display: table;
  font-size:70px;
}
header {
  line-height: 1.5;

}

.header-text{
  background-color:  #ffffff;
  width: 100%;
  opacity: 0.6;

}

article {
  margin: 0px 30px 30px 30px;
  padding: 20px 40px 40px;
  width: auto;
  text-align: left;
  background: #fff;
  border-bottom: 4px solid #ccc;
  border-radius: 6px;
  transition: all .5s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

article li {
  justify-content: space-around;
  list-style-type: none;
  margin: 0 auto;
  padding: 10px;
}

article h3 {
  text-align: center;
  background-color:  #0000ff;
  letter-spacing: 3px;
  opacity: 0.3;
  color:white;
  padding: 10px;
  border-radius: 20px;
  display: table;
  margin: 10px auto;

}

ol {
	counter-reset:li; /* Initiate a counter */
	margin-left:0; /* Remove the default left margin */
	padding-left:0; /* Remove the default left padding */
}
ol > li {
	position:relative; /* Create a positioning context */
	margin:0 0 6px 2em; /* Give each list item a left margin to make room for the numbers */
	padding:4px 8px; /* Add some spacing around the content */
	list-style:none; /* Disable the normal item numbering */
	border-top:1px solid #666;
}
ol > li:before {
	content:counter(li); /* Use the counter as content */
	counter-increment:li; /* Increment the counter by 1 */
	/* Position and style the number */
	position:absolute;
	top:-2px;
	left:-2em;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	width:2em;
	/* Some space between the number and the content in browsers that support
	   generated content but not positioning it (Camino 2 is one example) */
	margin-right:8px;
	padding:4px;
	border-top:2px solid #666;
	color:#fff;
	background:#0000ff;
  opacity: 0.4;
	font-weight:bold;
	font-family:"Helvetica Neue", Arial, sans-serif;
	text-align:center;
}
li ol,
li ul {margin-top:6px;}
ol ol li:last-child {margin-bottom:0;}
